<div class="content">
  <div class="centered-box">
    <span class="education-title">ÉDUCATION</span>
    <div class="underline"></div>
  </div>
</div>

<div class="sidebar-content">
  <div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      ISIM
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      Janvier 2022
    </span>
    
  </div>
  <div class="box-container">
    <span class="text-1" style="color: rgb(8, 8, 8)">
      Diplôme Mastère Professionnel en Ingénierie des Logiciels et
  des Connaissances
    </span>
  </div>
  

  <div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      ISIM
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      Octobre 2019
    </span>
  </div>
  <div class="box-container">
  <span class="text-1" style="color: rgb(7, 7, 7)">
    Licence Fondamentale en Sciences de l’Informatique
  </span>
</div>

  <div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      Chebbi Tozeur
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      Juin 2016
    </span>
  </div>
  <div class="box-container">
  <span class="text-1" style="color: rgb(8, 8, 8)">
    Diplôme Mastère Professionnel en Ingénierie des Logiciels et
des Connaissances
  </span>
</div>
</div>