<div class="content">
    <div class="centered-box">
      <span class="certification-title">CERTIFICATION</span>
      <div class="underline"></div>
    </div>
  </div>

<div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      Full Stack: Angular and Java Spring Boot E-Commerce Website
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      Février 2022
    </span>
  </div>
  <div class="box-container">
    <span class="box-text-1" style="color: rgb(3, 3, 3)">
      Udemy
    </span>
  </div>
  <div class="underline"></div>