<div class="content">
    <div class="centered-box">
      <span class="certification-title">CERTIFICATION</span>
      <div class="underline"></div>
    </div>
  </div>

<div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      Association Tunisie Intiative
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      De 01/2019 À 06/2019
    </span>
  </div>
  <div class="box-container">
    <span class="box-text-1" style="color: rgb(3, 3, 3)">
      Stage Projet de Fin d'étude pour l'obtention du diplôme de licence
    </span>
  </div>
  <div class="underline"></div>