<div class="content">
  <div class="centered-box">
    <span class="navbar-title">EXPÉRIENCE PROFESSIONNELLE</span>
  </div>
</div>

<div class="sidebar-content">
  <div class="box-container">
    <div class="small-box">
      <span class="box-text-1" style="color: rgb(3, 3, 5)">
        De 01/2024 jusqu'à maintenant
      </span>

      <span class="box-text-2" style="color: rgb(3, 3, 5)">
        De 09/2023 &nbsp; À 12/2023
      </span>

      <span class="box-text-3" style="color: rgb(3, 3, 5)">
        De 03/2023 &nbsp; À 08/2023
      </span>

      <span class="box-text-4" style="color: rgb(3, 3, 5)">
        De 07/2022 &nbsp; À 02/2023
      </span>

      <span class="box-text-5" style="color: rgb(3, 3, 5)">
        De 01/2021 &nbsp; À 12/2021
      </span>

      <span class="box-text-6" style="color: rgb(3, 3, 5)">
        De 01/2019 &nbsp; À 06/2019
      </span>
    </div>
    <div class="large-box">
      <span class="box-text" style="color: rgb(27, 114, 195)">
        ADDINN Tunisie
      </span>
      <br />
      <div class="project">
        <strong> &#10070; Plateforme Ftusa :</strong>
        <span class="text-1">
          Conception et développement d'une plateforme de gestion des sinistres,
          facilitant le stockage et la récupération simplifiée des documents
          associés.
          <br />
          <span class="simple-text">Environnement:</span> Java JEE(SpringBoot),
          Alfresco 7, Javascript, Hibernate, Maven, Tomcat, Postgresql, FTL,
          intellij, Swagger UI, RhinoJs, kubernetes infrastructure, Docker,
          GitLab, JIRA, Méthodologie SCRUM.
        </span>
      </div>
      <div class="project">
        <strong>
          &#10070; FrightSure-solution d'assurance transport de marchandises
          :</strong
        >
        <span class="text-1">
          Implémentation d'API Java robustes pour le suivi en temps réel des
          transports de marchandises, améliorant significativement la gestion
          des documents et la récupération des KPI.
          <br />
          <span class="simple-text">Environnement:</span> Java JEE(SpringBoot),
          Alfresco 7, Javascript, Hibernate, Maven, Tomcat, Postgresql, FTL,
          intellij, Swagger UI, RhinoJs, kubernetes infrastructure, Docker,
          GitLab, JIRA, Méthodologie SCRUM.
        </span>
      </div>
      <div class="project">
        <strong> &#10070; Smart Claim :</strong>
        <span class="text-1">
          Conception et développement d'une application web dédiée à la gestion
          et au suivi des sinistres dans le secteur de l'assurance.
          <br />
          <span class="simple-text">Environnement:</span> Java JEE, Angular,
          Alfresco 7, Javascript, Maven, Hibernate, Tomcat, Postgresql,
          Activiti, FTL, intellij, eclipse, Swagger UI, RhinoJs, kubernetes
          infrastructure, Docker, GitLab, JIRA, Méthodologie SCRUM.
        </span>
      </div>
      <div class="project">
        <strong> &#10070; Plateforme de recouvrement :</strong>
        <span class="text-1">
          Conception et développement d'une plateforme pour la gestion
          automatisée des recouvrements bancaires, optimisant les processus
          métiers et les suivis de recouvrements.
          <br />
          <span class="simple-text">Environnement:</span> Java JEE , Angular,
          ADF, Alfresco 7, Javascript, Maven, Hibernate, Tomcat, Postgresql,
          FTL, Activiti, intellij, eclipse, Swagger UI, RhinoJs, kubernetes
          infrastructure, Docker, GitLab, Redmine, Méthodologie SCRUM.
        </span>
      </div>
      <span class="box-text" style="color: rgb(27, 114, 195)">
        Mini Projet
      </span>
      <br />
      <div class="project">
        <strong> &#10070; FullStack: Site Web E-commerce :</strong>
        <span class="text-1">
          gestion des Produits, gestion des utilisateurs,
          <br />
          <span class="simple-text">Environnement:</span> Frameworks Angular et
          java/jee SpringBoot.
        </span>
      </div>
      <span class="box-text" style="color: rgb(27, 114, 195)">
        Société Altair Solution
      </span>
      <br />
      <div class="project">
        <strong>
          &#10070; Stage Projet de Fin d'étude pour l'obtention du diplôme de
          Mastère :</strong
        >
        <span class="text-1">
          conception et réalisation d'une application web Pour le Service De
          Remorquage : gestion des remorquages, gestion des utilisateurs, la
          géo-localisation des véhicules.
          <br />
          <span class="simple-text">Environnement:</span>
          Frameworks Angular et Laravel.
        </span>
      </div>
      <span class="box-text" style="color: rgb(27, 114, 195)">
        Association Intiative Médenine
      </span>
      <br />
      <div class="project">
        <strong>
          &#10070; Stage Projet de Fin d'étude pour l'obtention du diplôme de
          licence :</strong
        >
        <span class="text-1">
          conception et réalisation d'une application web pour la gestion
          d’association initiative Médenine : gestion des utilisateurs, gestion
          des employé, discussion instantané, Forum
          <br />
          <span class="simple-text">Environnement:</span> Framework Angular et
          PHP 7.
        </span>
      </div>
    </div>
  </div>
</div>
