<div class="content">
  <div class="centered-box">
    <span class="experience-title">EXPÉRIENCE PROFESSIONNELLE</span>
    <div class="underline"></div>
  </div>
</div>

<div class="sidebar-content">
    <!----- Experience 1 ------>
  <div class="box-container">
    <span class="box-text" style="color: rgb(27, 114, 195)">
      ADDINN Tunisie
    </span>
    <span class="box-text-right" style="color: rgb(27, 114, 195)">
      De 07/2022 jusqu'à maintenant
    </span>
  </div>
  <div class="box-container">
    <span class="box-text-1" style="color: rgb(3, 3, 3)">
      Développeur FullStack | Java/JEE, Springboot, Angular
    </span>
    <span class="box-text-right-1" style="color: rgb(8, 8, 8)">
      Tunisie
    </span>
  </div>
  <!----- project 1 ------>
  <div class="project">
    <strong>Plateforme Ftusa :</strong>
    <ul class="project-points">
      <li>
        Conception et développement d'une plateforme de gestion des sinistres, réduisant le temps de traitement des dossiers de 35 %.
      </li>
      <li>
        Implémenté un module de stockage simplifié des documents, augmentant la productivité des utilisateurs de 25 %.
      </li>
      <li>
        Créé une interface pour la récupération rapide des fichiers, améliorant l’expérience utilisateur.
      </li>
    </ul>
    <div class="project-environment">
      <span class="simple-text">Environnement :</span> 
      Java JEE(SpringBoot), Angular, Javascript, Hibernate, Maven, Tomcat, Postgresql, FTL, IntelliJ, Swagger UI, RhinoJs, Kubernetes infrastructure, Docker, GitLab, JIRA, Méthodologie SCRUM.
    </div>
  </div>
  <!----- project 2 ------>
  <div class="project">
    <strong>FrightSure - Solution d'assurance pour le transport de marchandises :</strong>
    <ul class="project-points">
      <li>
        Implémentation d'API Java pour le suivi en temps réel des transports de marchandises.
      </li>
      <li>
        Intégré des tableaux de bord dynamiques, réduisant les délais de reporting de 40 %.
      </li>
      <li>
        Amélioré la gestion des données, augmentant la précision des analyses de 30 %.
      </li>
    </ul>
    <div class="project-environment">
      <span class="simple-text">Environnement :</span> 
      Java JEE (SpringBoot), Angular, Javascript, Tomcat, Postgresql, Swagger UI, RhinoJs, Kubernetes, Docker, GitLab, JIRA, SCRUM.
    </div>
  </div>
  <!----- project 3 ------>
  <div class="project">
    <strong>Smart Claim :</strong>
    <ul class="project-points">
      <li>
        Conception et développement d'une application web dédiée à la gestion et le suivi des sinistres.
      </li>
      <li>
        Mis en place un workflow automatisé, réduisant les délais de traitement des sinistres de 20 %.
      </li>
      <li>
        Réduction des délais de traitement de sinistres de 50 %.
      </li>
    </ul>
    <div class="project-environment">
      <span class="simple-text">Environnement :</span> 
      Java JEE (SpringBoot), Angular, Javascript, Tomcat, PostgreSQL, Swagger UI, Kubernetes, Docker, GitLab, JIRA, SCRUM.
    </div>
  </div>
  <!----- project 4 ------>
  <div class="project">
    <strong>Plateforme de recouvrement :</strong>
    <ul class="project-points">
      <li>
        Conception et développement d'une plateforme de gestion automatiséedes recouvrements bancaires.
      </li>
      <li>
        Optimisé les performances de la plateforme, accélérant les opérations critiques.
      </li>
      <li>
        Amélioration de la performance des processus de recouvrement de 30%, avec une réduction des délais de traitement de 40 %.
      </li>
    </ul>
    <div class="project-environment">
      <span class="simple-text">Environnement :</span> 
      Java JEE (SpringBoot), Angular, ADF, Javascript, Tomcat, Postgresql, Activiti, Swagger UI, Kubernetes, Docker, GitLab, Redmine, SCRUM.
    </div>
  </div>
  </div>