<div class="content">
    <div class="centered-box">
      <span class="experience-title">PROJETS</span>
      <div class="underline"></div>
    </div>
  </div>
  
  <div class="sidebar-content">
      <!----- Experience 1 ------>
    <div class="box-container">
      <span class="box-text" style="color: rgb(27, 114, 195)">
        Société Altair Solution
      </span>
      <span class="box-text-right" style="color: rgb(27, 114, 195)">
        De 01/2021 À 12/2021
      </span>
    </div>
    <div class="box-container">
      <span class="box-text-1" style="color: rgb(3, 3, 3)">
        Stage Projet de Fin d'étude pour l'obtention du diplôme de Master
      </span>
    </div>
    <!----- project 1 ------>
    <div class="project">
      <strong>Application web pour la gestion des services de remorquage :</strong>
      <ul class="project-points">
        <li>
          Conception et développement d'une application web pour le service de remorquage
        <li>
          Identification des besoins fonctionnels et techniques, assurant une priorisation efficace des fonctionnalités.
        </li>
        <li>
          Intégration de la gestion des interventions, des utilisateurs et de la géolocalisation en temps réel, réduisant les erreurs de localisation de 25%.
        </li>
        <li>
          Mise en œuvre d'une authentification sécurisée et d'un contrôle d'accès basé sur les rôles utilisant JWT avec Auth0, augmentant la sécurité du système et réduisant les incidents d'accès non autorisés de 40 %.
        </li>
      </ul>
      <div class="project-environment">
        <span class="simple-text">Environnement :</span> 
        Java JEE (Spring Boot), Angular, PostgreSQL, Auth0, Swagger UI, Leaflet API, Mapbox, GitLab, JIRA, méthodologie SCRUM
      </div>
    </div>
    <!----- Experience 2 ------>
    <div class="box-container">
      <span class="box-text" style="color: rgb(27, 114, 195)">
        Association Tunisie Intiative
      </span>
      <span class="box-text-right" style="color: rgb(27, 114, 195)">
        De 01/2019 À 06/2019
      </span>
    </div>
    <div class="box-container">
      <span class="box-text-1" style="color: rgb(3, 3, 3)">
        Stage Projet de Fin d'étude pour l'obtention du diplôme de licence
      </span>
    </div>
    <!----- project 1 ------>
    <div class="project">
      <strong>Application web pour la gestion de Association Tunisie Intiative :</strong>
      <ul class="project-points">
        <li>
          Conception et développement d'une application web pour la gestion de l'Association Tunisie Initiative
        <li>
          Identification des besoins fonctionnels et techniques, permettant une priorisation efficace des fonctionnalités et augmentant la précision des spécifications de 35%.
        </li>
        <li>
          Mise en place de la gestion des utilisateurs, des employés, de la messagerie instantanée et du forum de discussion, augmentant la communication interne de 40% et réduisant les erreurs de gestion de 25%.
        </li>
        <li>
          Automatisation des tâches administratives répétitives, réduisant les tâches manuelles de 50% et améliorant l'efficacité des processus internes de 30%.
        </li>
      </ul>
      <div class="project-environment">
        <span class="simple-text">Environnement :</span> 
        Java JEE (Spring Boot), Angular, PostgreSQL, GitHub, Postman, méthodologie SCRUM.
      </div>
    </div>
  </div>