<div class="sidebar-content">
  <h1>CONTACT</h1>
  <div class="underline"></div>

  <div class="info-item">
    <mat-icon>location_on</mat-icon>
    <h4 class="box-text">Lieu : Tunisie, Ariana 2037</h4>
  </div>
  <div class="info-item">
    <mat-icon>phone</mat-icon>
    <h4 class="box-text">Téléphone : +216 55331664</h4>
  </div>
  <div class="info-item">
    <mat-icon>email</mat-icon>
    <h4 class="box-text">Email : tombariahmed9&#64;gmail.com</h4>
  </div>
  <div class="info-item">
    <mat-icon>linkedin</mat-icon>
    <h4 class="box-text">
      LinkedIn:
      <a
        href="https://www.linkedin.com/in/ahmed-tombari-568ab3286"
        target="_blank"
      >
        ahmed-tombari-568ab3286</a
      >
    </h4>
  </div>

  <!-- Add more sidebar content here -->
</div>
