<div class="sidebar-content">
  <h1>CONTACT</h1>
  <div class="underline"></div>

  <div class="box-container" style="display: flex; align-items: center">
  <div class="small-box">
  <div class="info-item">
    <i class="fas fa-map-marker-alt"></i>
    <h4 class="box-text">Lieu : Tunisie, Ariana 2037</h4>
  </div>
  <div class="info-item">
    <i class="fas fa-phone"></i>
    <h4 class="box-text">Téléphone : +216 55331664</h4>
  </div>
  <div class="info-item">
    <i class="fas fa-envelope"></i>
    <h4 class="box-text">Email : tombariahmed9&#64;gmail.com</h4>
  </div>
  <div class="info-item">
    <i class="fab fa-linkedin"></i>
    <h4 class="box-text">
      LinkedIn:
      <a
        href="https://www.linkedin.com/in/ahmed-tombari"
        target="_blank"
        style="color: aliceblue"
      >
      linkedin.com/in/ahmed-tombari/
      </a>
    </h4>
  </div>
  <div class="info-item">
    <i class="fab fa-github"></i>
    <h4 class="box-text">
      Github:
      <a
        href="https://github.com/Ahmed-Tombari"
        target="_blank"
        style="color: aliceblue"
      >
      github.com/Ahmed-Tombari
      </a>
    </h4>
  </div>
</div>
</div>
</div>
