<div class="sidebar-content">
  <h1>COMPÉTENCES</h1>
  <div class="underline"></div>

  <div class="project">
    <strong>&#8226; Développement Web :</strong>
    <span class="text-1">
      Java/J2EE (SpringBoot), Hibernate, JavaScript, Swagger Ui, Angular,
      RhinoJs, FTL, Tailwind, Angular Materiel, Bootstrap, CSS, Docker,
      Kubernetes, Ajax, YUI, Jquery, OpenSSL, OKTA, Stripe, Redmine, Jira,
      GITLab, PHP, Laravel, Wordpress. </span
    ><br />
    <strong>&#8226; ECM/Workflow :</strong>
    <span class="text-1"> Alfresco / Activiti.</span><br />
    <strong>&#8226; Service Web :</strong>
    <span class="text-1"> API REST et SOAP, Alfresco Web Scripts.</span><br />
    <strong>&#8226; Desktop :</strong>
    <span class="text-1"> JAVA (SWING, AWT)</span><br />
    <strong>&#8226; Conception :</strong>
    <span class="text-1"> UML.</span><br />
    <strong>&#8226; Outils :</strong>
    <span class="text-1">
      Eclipse, Netbeans, intellij idea, Alfresco, Maven, Tomcat, Docker Desktop,
      SQLServer, workbench.</span
    ><br />
    <strong>&#8226; Base de données :</strong>
    <span class="text-1"> Oracle, MySQL, PostgreSql, MongoDB SQL Server.</span
    ><br />
    <strong>&#8226; Méthodologie :</strong>
    <span class="text-1"> SCRUM</span><br />
    <!-- Add more sidebar content here -->
    <span class="text-1"></span><br />
  </div>
</div>
