<div class="sidebar-content">
  <h1>COMPÉTENCES</h1>
  <div class="underline"></div>

  <div class="project">
    <strong>&#8226; Développement Web :</strong>
    <span class="text-1">
      Java/J2EE (SpringBoot), JavaScript, Swagger Ui, RhinoJs, Jira, GITLab,
      Ajax, YUI, Jquery, Hibernate, OpenSSL, OKTA, Stripe, Angular, CSS,
      bootstrap, PHP, Laravel, Wordpress. </span
    ><br />
    <strong>&#8226; ECM/Workflow :</strong>
    <span class="text-1"> Alfresco / Activiti.</span><br />
    <strong>&#8226; Service Web :</strong>
    <span class="text-1">
      Alfresco Web Scripts. Desktop : JAVA (SWING, AWT)</span
    ><br />
    <strong>&#8226; Conception :</strong>
    <span class="text-1"> UML.</span><br />
    <strong>&#8226; Outils :</strong>
    <span class="text-1">
      Eclipse, Netbeans, intellij idea, Alfresco, Maven, SQLServer, MySQL,
      workbench. </span
    ><br />
    <strong>&#8226; Base de données :</strong>
    <span class="text-1"> Oracle, MySQL, SQL Server.</span><br />
    <strong>&#8226; Méthodologie :</strong>
    <span class="text-1"> SCRUM</span><br />
    <!-- Add more sidebar content here -->
    <span class="text-1"></span><br />
  </div>
</div>
