<div class="sidebar-content">
  <mat-card class="circular-card">
    <img mat-card-image src="assets/AhmedTOMBARI2.jpeg" alt="Profile Image" />
  </mat-card>
  <span class="title1">Ahmed TOMBARI</span>
    <span class="title2">Développeur FullStack | Java/JEE,
      </span>
      <span class="title3">Springboot, Angular</span>
  <app-contact></app-contact>
  <app-skills></app-skills>
  <app-languages style="margin-bottom: 10px;"></app-languages>
  <app-interest style="margin-bottom: 20px;"></app-interest>
  <app-cv-download></app-cv-download>
</div>
