.sidebar-content {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
  position: relative;
}

.underline {
  width: 50%;
  height: 4px;
  background-color: #fff;
  margin: 10px 0;
}

h4 {
  font-size: 16px;
  color: #ccc;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.circular-card {
  width: 230px; 
  height: 230px; 
  border-radius: 50%; 
  overflow: hidden; 
  margin-bottom: 25px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

img[mat-card-image] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title1 {
  font-size: 38px; 
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: -8px;
  padding-left: 4px;
  padding-bottom: 5px;
}
.title2 {
  font-size: 18px; 
  font-weight: bold;
  color: rgb(248, 241, 241);
  margin-top: 2px;
  padding-bottom: 26px;
}

.title3 {
  font-size: 18px; 
  font-weight: bold;
  color: rgb(248, 241, 241);
 
  margin-top: -22px;
  /*padding-left: 42px;*/
  padding-bottom: 26px;
}