
<div class="sidebar-content-all">
  <div class="box-container-all" style="display: flex; align-items: center">
    <div class="large-box">
      <div class="content">
        <div class="centered-box">
          <span class="profile-title">PROFILE</span>
          <div class="underline"></div>
        </div>
      </div>
      
      <div class="sidebar-content">
        <div class="box-container">
          <span class="text-1">
            Développeur Full Stack Java/Angular spécialisé en microservices Spring
            Boot, je suis passionné par la création de solutions web innovantes. Avec
            deux ans d'expérience, je maîtrise le développement front-end (Angular) et
            back-end (Java), en concevant des architectures de microservices robustes
            et performantes, avec une expertise en APIs RESTful. Je suis prêt à mettre
            mes compétences au service d'une organisation ambitieuse, en optimisant
            ses applications et processus métier pour une efficacité accrue.
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
